/* custom variables */

:root {
    --outsideBackground: #080808;
    --insideBackground: #141412;
    --lightBackground: #242421;
    --padding: 1vw;
    --margin: 1vw;
    --small-padding: 0.5vw;
    --small-margin: 0.5vw;
    --font-color: rgb(177, 92, 71);
    --highlight-colour: orangered;
    /* --box-shadow: 1px 1px 5px orangered; */
    --border-radius-outer: 20px;
    --border-radius-inner: 5px;
    --font-family: 'Source Sans Pro','Work Sans', sans-serif;
    --background-color: rgb(239, 243, 214);
/*     --padding-left: 50%;
 */  
  }

  * {
    word-wrap: break-word;
    text-decoration: none;
  }

  .wrapper{
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2fr);
  
  }

  #text{
     margin-left: 10vw;
     margin-top: 3vw;
     margin-bottom: 3vw;
  }

  #metamask{
    grid-template-columns: 1 span 1;
    grid-template-rows: 2 span 1;
    padding-top: 1em;
    padding-bottom: 1em;
/*     padding-left: 50%;
 */  }
  
  .authNav{
    grid-template-columns: 2 span 1;
    grid-template-rows: 2 span 1;
/*     padding-left: 50%;
 */    padding-top: 1em;
    padding-bottom: 1em;
  
  }

  body {
    background-color: var(--outsideBackground);
/*     font-family: 'Work Sans', sans-serif;
 */    color: var(--font-color);
 font-family: 'Source Sans Pro','Work Sans', sans-serif;

  }
  
p{
  font-family: 'Source Sans Pro','Work Sans', sans-serif;
}


  img{
    filter: saturate(120%);
    border-radius: var(--border-radius-inner);
/*     padding: var(--padding);
 */  
  }
  

  

   
  
  button {
    font-family: 'Work Sans', sans-serif;
    padding: var(--small-padding);
    border: 0.5vw solid white;
    border-radius: var(--border-radius-inner);
    margin: var(--margin);
    color: whitesmoke;
/*     box-shadow: 0 0 30px 30px   rgb(224, 122, 27) inset, 0 0 0 0 darkslateblue;
 */    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    background-color: var(--font-color);
    margin-left: 50%;

  }
  
  button:hover {
    box-shadow: 0 0 20px 0 whitesmoke inset, 0 0 0px 4px white;
    color: darkslateblue;
    background-color: var(--insideBackground);
    font-weight: 700;
  }
  
  @media (max-width: 750px) {
    :root {
      --border-radius-outer: 10px; 
    }
  button {
      font-size: 90%;
    } 
  }